@model ContactCore.Models.ViewModels.ChangeRoleViewModel

<h2>Изменение ролей для пользователя  @Model.UserName</h2>
<form asp-action="UpdateRolesOfUser" method="post" style="margin-top: 20px;">
    <input type="hidden" asp-for="UserId" />
    <div class="form-check">
        @foreach (var role in Model.AllRoles)
        {
            if (Model.UserRoles.Contains(role.Name))
            {
                <input type="checkbox" name="roles" value="@role.Name" checked />@role.Name<br/>
            }
            else
            {
                <input type="checkbox" name="roles" value="@role.Name"/>@role.Name<br/>
            }

        }
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top: 20px">Сохранить</button>
</form>
